<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Mon Profil</title>
<link href="client/css/styles.css" rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
</head>
<body>

	<div th:insert="client/fragments/NavBar :: div.navigateur"></div>



	<div id="layoutSidenav">
		<div th:replace="client/fragments/NavBar :: div.HEllo"></div>
		<div id="layoutSidenav_content">
			<main>
			<div class="container-fluid">




				<div style="height: 7vh;"></div>


				<div class="container emp-profile">
					<form method="post">
						<div class="row">
							<div class="col-md-10">
								<div class="profile-head">
									<h3>
										<span th:text="${#strings.toUpperCase(client.nom)}"></span> <span
											th:text="${#strings.toUpperCase(client.prenom)}"></span>
									</h3>
									<h6>
										Numero Client : <span th:text="${client.idClient}"></span>
									</h6>
									<div style="height: 4vh;"></div>
									<div class="row">
										<div class="col-md-4">
											<p class="font-weight-bold">
												<ins>Nombre de Comptes :</ins>
												<span class="text-info" th:text="${#lists.size(client.lesComptesBancaire) }"></span>
											</p>
										</div>
										<div class="col-md-4">
											<p class="font-weight-bold">
											<ins>	Nombre de Credits :</ins>
												<span class="text-info" th:text="${#lists.size(client.lesCredit) }"></span>
											</p>
										</div>
										<div class="col-md-4">
											<p class="font-weight-bold">
												<ins>Nombre de Demandes :</ins>
												<span class="text-info" th:text="${#lists.size(client.lesDemndes) }"></span>
											</p>
										</div>
									</div>
									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item"><a class="nav-link active"
											id="home-tab" data-toggle="tab" href="#home" role="tab"
											aria-controls="home" aria-selected="true"> Mes
												informations</a></li>
										<li class="nav-item"><a class="nav-link" id="profile-tab"
											data-toggle="tab" href="#profile" role="tab"
											aria-controls="profile" aria-selected="false">Compte
												Utilisateur</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-2">
								<input type="submit" class="profile-edit-btn" name="btnAddMore"
									value="Edit Profile" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-12">
								<div class="tab-content profile-tab" id="myTabContent">
									<div class="tab-pane fade show active" id="home"
										role="tabpanel" aria-labelledby="home-tab">
										<div class="row">
											<div class="col-md-6">
												<label>Nom</label>
											</div>
											<div class="col-md-6">
												<p th:text="${ #strings.toUpperCase(client.nom)}"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Prénom</label>
											</div>
											<div class="col-md-6">
												<p th:text="${ #strings.toUpperCase(client.prenom)}"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Email</label>
											</div>
											<div class="col-md-6">
												<p th:text="${client.email}"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Telephone</label>
											</div>
											<div class="col-md-6">
												<p th:text="${client.telephone}"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Agence Adresse</label>
											</div>
											<div class="col-md-6">
												<p th:text="${client.agence.adresse}"></p>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="profile" role="tabpanel"
										aria-labelledby="profile-tab">
										<div class="row">
											<div class="col-md-6">
												<label>Nom d'utilisateur</label>
											</div>
											<div class="col-md-6">
												<p th:text="${client.userCompte.username}"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label>Mot de Passe</label>
											</div>
											<div class="col-md-4 form-group">
												<input class="form-control input-sm" id="myInput"
													th:value="${client.userCompte.password}" type="password"
													disabled="true">

											</div>
											<div class="col-md-2">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="defaultUnchecked" onclick="myFunction()"> <label
														class="custom-control-label" for="defaultUnchecked">Afficher</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label class="font-italic">Id Utilisateur</label>
											</div>
											<div class="col-md-6">
												<p th:text="${client.userCompte.idUser}"></p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>















































				<div style="height: 50vh;"></div>
				<div class="card mb-4">
					<div class="card-body">When scrolling, the navigation stays
						at the top of the page. This is the end of the static navigation
						demo.</div>
				</div>
			</div>
			</main>
			<div th:replace="client/fragments/NavBar :: footer"></div>
		</div>
	</div>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript">
	function myFunction() {
		var x = document.getElementById("myInput");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
</script>
</html>